# Changes must also be made in the following files:
# ./environment.yml
# ./meta.yaml
# ./pyproject.toml
# ./setup.py

Cython
lucit-licensing-python>=1.8.1
requests
unicorn-binance-rest-api>=2.1.2
unicorn-binance-websocket-api>=2.1.1
