# Changes must also be made in the following files:
# ./environment.yml
# ./meta.yaml
# ./pyproject.toml
# ./setup.py

Cython>=3.0.10
lucit-licensing-python>=1.8.2
requests>=2.31.0
unicorn-binance-rest-api>=2.6.1
unicorn-binance-websocket-api>=2.8.0
